@import "~../../bower_components/base/less/style.less";

.logo {
  float: left;
  position: relative;
  color: #fff;
  font-family: Pacifico;
}

.nav-list {
  float: right;
  position: relative;
  margin-top: 30px;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.banner {
  background: #9E76DE;
}

.home-container {
  margin-top: 150px;
}

.content-inner{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.spotlight h1 {
  font-size: 50px;
}

.spotlight p.lead {
  font-size: 20px;
  line-height: 30px;
}
