@import "~../bower_components/base/less/style.less";

.logo {
  float: left;
  position: relative;
  color: #fff;
}

.nav-list {
  float: right;
  position: relative;
  margin-top: 30px;
  a {
    color: #fff;
  }
}

.banner {
  background: #9E76DE;
}
