<div class="container">
  <h1>Register Page</h1>
  <p class="lead">Say something worthwhile</p>
  <br>
  <form action="/register" role="form" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Enter Username"/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button class="btn btn-default" type="submit">Submit</button>
    &nbsp;
    <a href="/">
      <button class="btn btn-primary" type="button">Cancel</button>
    </a>
  </form>
</div>
