<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div id="new-student-form"></div>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div id="student-list"></div>
  </div>
</div>
