<div class="banner">
  <div class="container">
    <div class="clear">
      <h1 class="logo">Minutes</h1>
      <ul class="list-inline nav-list">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
    </div>
  </div>
</div>
