<!DOCTYPE html>
<html>
  <head>
    <title>Minutes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app-container">
      <div id="header-region"></div>
      <div id="content-region" class="container">
        <p>There is nothing to see here.</p>
      </div>
    </div>
    {{{body}}}
    <script src='/javascripts/bundle.js'></script>
  </body>
</html>
