<div class="mdl-grid home-container">
  <div class="mdl-cell mdl-cell--12-col spotlight">
    <h1>Track time, effectively</h1>
    <p class="lead">
      Minutes provides time stats on the individualized instruction sessions.
      <br/>
      It gives teachers the detailed insight they need to service their
      students effectively.
    </p>
  </div>
</div>
<div id="app-container">
  <div id="content-region" class="container"></div>
</div>
