<!DOCTYPE html>
<html>
  <head>
    <title>Minutes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Auth0 lock script -->
    <script src="//cdn.auth0.com/js/lock-7.5.min.js"></script>
    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <div class="modal"></div>
    <div id="navigation">
      <div class="banner">
        <div class="container">
          <div class="clear">
            <h1 class="logo">Minutes</h1>
            <ul class="list-inline nav-list">
              <li><a href="#" class="login-btn">Login</a></li>
              <li><a href="#" class="logout-btn" style="display: none;">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {{{body}}}
    <script src='/javascripts/bundle.js'></script>
  </body>
</html>
